# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/public/build

# misc
.DS_Store
*.tgz
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.parcel-cache
.vscode